header {
  z-index: 1000;
}
::ng-deep .bgHeaderColor {
  background-color: rgb(255, 230, 193);
}
::ng-deep .p-menuitem-link-active .p-menuitem-text {
  color: #1d4ed8;
}

::ng-deep .p-menuitem-link-active .p-menuitem-icon {
  color: #1d4ed8;
}
::ng-deep .bgButton {
  padding: 1rem;
  width: 0.5rem;
}
