<div class="card flex flex-wrap align-items-center justify-content-center m-8">
    @if (loading) {
    <p-progressSpinner ariaLabel="loading" />
    }@else {
    @if (products.length==0) {
    <div class=" flex w-full  mb-3 justify-content-end   align-items-center ">
        @if (isUserAuthenticated&&hasPermission) {

        <div
            class="flex mr-2 align-items-center  align-items-center py-2 px-2 border-round-top-2xl border-round-bottom-2xl bg-green-700 border-black-alpha-10 border-solid text-white">
            <div><label class="mr-2">โหมดผู้ดูแล</label></div>
            <div><p-inputSwitch [(ngModel)]="manageProductMode" (onChange)="valueChange()" [disabled]="loading" /></div>
        </div>
        <div
            class=" mr-2 flex align-items-center py-2 px-2 border-round-top-2xl border-round-bottom-2xl bg-red-600 border-black-alpha-10 border-solid text-white">
            <div><label class=" mr-2">ซ่อนสินค้าที่ระงับไว้</label></div>
            <div><p-inputSwitch [(ngModel)]="HideDisableProduct" (onChange)="valueChange()" [disabled]="loading" />
            </div>
        </div>

        }
        <div>
            <p-inputGroup>
                <input type=" text" pInputText placeholder="คำค้นหา" [(ngModel)]="keyword" (keyup)="search($event)" />
                <button type="button" pButton icon="pi pi-search" class="p-button-warning"
                    (click)="valueChange()"></button>
            </p-inputGroup>
        </div>

    </div>
    <div class="">
        <p class="text-2xl label-center">ขณะนี้ยังไม่มีสินค้า</p>
    </div>

    }@else {
    <div class=" flex w-full  mb-3 md:justify-content-end grid  align-items-center ">
        @if (isUserAuthenticated&&isUserAuthenticated&&hasPermission) {
        <div
            class="flex mr-2 align-items-center  align-items-center py-2 px-2 border-round-top-2xl border-round-bottom-2xl bg-green-700 border-black-alpha-10 border-solid text-white">
            <div><label class="mr-2">โหมดผู้ดูแล</label></div>
            <div><p-inputSwitch [(ngModel)]="manageProductMode" (onChange)="valueChange()" [disabled]="loading" /></div>
        </div>
        <div
            class=" mr-2 flex align-items-center py-2 px-2 border-round-top-2xl border-round-bottom-2xl bg-red-600 border-black-alpha-10 border-solid text-white">
            <div><label class=" mr-2">ซ่อนสินค้าที่ระงับไว้</label></div>
            <div><p-inputSwitch [(ngModel)]="HideDisableProduct" (onChange)="valueChange()" [disabled]="loading" />
            </div>
        </div>

        }
        <div>
            <p-inputGroup>
                <input type=" text" pInputText placeholder="คำค้นหา" [(ngModel)]="keyword" (keyup)="search($event)" />
                <button type="button" pButton icon="pi pi-search" class="p-button-warning"
                    (click)="valueChange()"></button>
            </p-inputGroup>
        </div>
    </div>
    <div class="grid w-full " style="min-height: 10rem;  max-width: 100rem;">

        @for (item of products; track $index) {
        <p-card class="col-12 sm:col-6 lg:col-3 xl:col-2 md:col-4 mb-2 align-items-stretch flex  flex-wrap">
            <ng-template pTemplate="header">
                <img alt="Card" src="{{rootImgUrl}}/{{item.productImageURL}}" class="h-12rem" />
                <div class="label-center">
                    @if (!item.isAvailable) {
                    <label class=" text-purple-500 font-bold text-100">ระงับการขายสินค้า</label>
                    }

                </div>

                <div class=" flex justify-content-between flex-wrap">
                    <div></div>
                    <div class=" flex align-items-center"><label
                            class="font-bold text-lg  ">{{item.productName|cutText:[20]}}</label>
                        <!-- เกิน20ตัวอักษรให้ตัดที่เหลือแล้วเติม...แทน -->
                    </div>
                    @if (isUserAuthenticated&&hasPermission&&manageProductMode) {
                    <div>
                        <!-- เซ็ตค่าตัวแปร เมื่อกดdropdown -->
                        <p-splitButton class="text-red-500" (onDropdownClick)="curProduct=item"
                            (onMenuShow)="menuItems = settingMenu()" severity="contrast" text="true" outlined="true"
                            [buttonDisabled]="true" [model]="menuItems"><ng-template pTemplate="dropdownicon">
                                <i class="pi pi-cog " style="color: green;font-size:1.5rem"></i> <!-- เกียร์ไอคอน -->
                            </ng-template></p-splitButton>
                    </div>
                    }@else { <div></div> }
                </div>
            </ng-template>
            <ng-template pTemplate="subtitle">
                @if (curDate>=item.discountStartDate) {
                @if (item.remainTimeDay==0&&item.remainTimeHour>=0 &&item.remainTimeMin>=0) {
                <div class="text-center">
                    <label class="text-red-500 col-12  font-bold text-sm">หมดเวลาลดราคาวันนี้</label>
                </div>
                <div class="text-center">
                    <label class="col-12 text-sm">เหลือเวลา {{item.remainTimeHour}} ชั่วโมง {{item.remainTimeMin}}
                        นาที</label>
                </div>
                }@else if (item.remainTimeDay<=0&&item.remainTimeHour<=0 &&item.remainTimeMin<=0) { <br>
                    <br>
                    }@else {
                    <label>ลดราคา {{item.remainTimeDay}} วัน</label>
                    }
                    }@else {
                    <!-- ตรงนี้ใช้ DatePipe ของ angular  ในการจัด format (ไปinject locale th ด้วย)-->
                    <label class="text-orange-500 ">จะลดราคาในวันที่ {{item.discountStartDate| date: 'วันที่ d MMMM yyyy
                        เวลา
                        HH:mm นาฬิกา'}}</label>
                    }
            </ng-template>
            <!--             <ng-template pTemplate="content">
                <div class="mb-3 ">

                    <p-scrollPanel [style]="{ width: '100%', height: '30px' ,marginTop:'0.5rem' }">
                        <p class="p-0 m-0">{{item.productDescription}}</p>
                    </p-scrollPanel>
                </div>
            </ng-template> -->
            <ng-template pTemplate="footer">
                @if (!item.isDiscounted) {
                <div class="">
                    <label class=""> {{item.price|currency:'฿'}}</label> <!-- currencyPipe Angular -->
                </div>
                }@else{
                <label class="text-green-700"> {{item.discountPrice|currency:'฿'}}</label>
                <br>
                <small class="line-through text-gray-400">{{item.price|currency:'฿'}}</small>
                @if (item.isDiscountPercent) {
                <small class="ml-1 bg-red-500 text-white-alpha-90">-{{item.discountRate}}%</small>
                }@else {
                <small class="ml-1 bg-red-500 text-white-alpha-90">- {{item.discountRate|currency:'฿'}}</small>
                }
                }
                <br><br>
                <small>{{item.totalScore}}</small>
                <!-- //rating score (total score) ขอทำ reviewให้เสร็จก่อนค่อยกลับมาทำ -->

            </ng-template>


        </p-card>
        }
        <p-paginator class="col-12 " (onPageChange)="onPageChange($event)" [first]="activePage" [rows]="pageSize"
            [totalRecords]="totalRecords" />
    </div>
    }
    }
</div>