::ng-deep .p-card-content {
  padding: 0;
}
::ng-deep .p-datepicker-header,
::ng-deep .small-calendar .p-datepicker-calendar td,
::ng-deep .small-calendar .p-datepicker-calendar th {
  padding: 0;
}

::ng-deep .p-timepicker {
  height: 70px;
  padding: 0;
}
::ng-deep .p-timepicker span {
  font-size: 14px;
}

::ng-deep .p-splitbutton-defaultbutton {
  display: none; /* ซ่อนปุ่ม */
}
::ng-deep .p-splitbutton-menubutton {
  padding: 0;
}
/* แค่ center ข้อความ ทำไม primeflex มันไม่มี โอ้ยยยยยยยยยยยยยยยยยยยยยยยยยยยยยยยยยยยยยยยยยยยยยยยยย */
.label-center {
  text-align: center;
}
::ng-deep .p-card-body {
  padding: 10px;
  padding-top: 5px;
}
::ng-deep .p-card {
  width: 100%;
}
